<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ordr - Order Management</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
<!--

Host Cloud Template

https://templatemo.com/tm-541-host-cloud

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Ordr</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            {% if logged_in %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard', name=name, api_key=api_key) }}">Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
              </li>
            </ul>
            {% endif %}
          </div>
          <div class="functional-buttons">
            <ul>
              {% if logged_in %}
              <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
              <li><a href="{{ url_for('login') }}">Log in</a></li>
              <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>