{% include 'header.html' %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Manage your business orders more effectively</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h4>TRUSTED BY 1,250+ HAPPY CUSTOMERS WORLDWIDE</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-trusted owl-carousel">
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 2">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 4">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 5">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 6">
              </div>
              <div class="trusted-item">
                <img src="/static/assets/images/trusted-01.png" alt="trusted 7">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>E-Commerce Order Management Services</span>
              <h2>Services we provide</h2>
              <p>Ordr is an online order management tool for e-commerce entrepreneurs and traditional small businesses
              hoping to step into the online delivery world.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-bar-chart"></i>
              <h4>10x Light Order API</h4>
              <p>We provide a light, easy to use interface to manage all your orders from multiple businesses. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-lock"></i>
              <h4>Secured Privacy</h4>
              <p>Your customer orders and needs are safely secured </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Fully Dedicated</h4>
              <p>We have fully dedicated databases to serve up your customer orders on-demand </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->


    <!-- Pricing Starts Here -->
    <div class="pricing-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <h2>Order Management Plans</h2>
              <p>We provide a variety of plans for our customers based on your specific business needs.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Basic</h4>
              <div class="price">
                <h6>Free</h6>
                <span>monthly</span>
              </div>
              <p>Best plan for testing our services and for creating a fast working business website to track orders</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>10 orders daily limit</li>
                <li><i class="fa fa-check"></i>1 business </li>
                <br>
                <li><i class="fa fa-close"></i>Premium features</li>
                <li><i class="fa fa-close"></i>Email support</li>
              </ul>
              <a href="{{ url_for('signup') }}" class="main-button">Start Plan</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Growing</h4>
              <div class="price price-gradient">
                <h6>$9.99</h6>
                <span>monthly</span>
              </div>
              <p>This plan is perfect for businesses just starting to grow, receiving a few orders per day.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>30 orders daily limit</li>
                <li><i class="fa fa-check"></i>3 businesses </li><br>
                <li><i class="fa fa-check"></i>Premium features</li>
                <li><i class="fa fa-close"></i>Email support</li>
              </ul>
              <a href="#" class="gradient-button">Select Plan</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Advanced</h4>
              <div class="price">
                <h6>$19.99</h6>
                <span>monthly</span>
              </div>
              <p>Best plan for already established businesses receiving loads of orders a day</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>50+ orders daily </li><br>
                <li><i class="fa fa-check"></i>5 businesses </li><br>
                <li><i class="fa fa-check"></i>Premium features</li>
                <li><i class="fa fa-check"></i>Email support</li>
              </ul>
              <a href="#" class="main-button">Take it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Ends Here -->

   {% include 'footer.html' %}
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/static/assets/js/custom.js"></script>
    <script src="/static/assets/js/owl.js"></script>
    <script src="/static/assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>